.add-material {
    &__form {
        &__material-name {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__input-text {
            width: 80%;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;
        }

        &__input-text:focus {
            outline-width: 0;
        }
    }
}