.add-material {
    &__form {
        &__submit-btn {
            position: absolute;
            bottom: 30px;
            left: 45%;
            background-color: white;
            font-family: 'Apercu Pro';
            font-size: 16px;
            border: 0;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}