@use '@/values';

.left-menu {
    width: 250px;
    max-width: 210px;
    background-color: values.$panelBackground;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
      flex-grow: 1;
      overflow-y: auto;
    }
  
    &__bottom {
      flex-shrink: 0;
    }
}